*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container{
  width: 80%;
  margin: auto;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.right-nav{
    display: flex;
    column-gap: 40px;
    align-items: center;
}
.links{
    padding: 0 40px;
    border-right: 1px solid #939191;
}

.nav-links{
    display: flex;
    list-style: none;
    column-gap: 40px;
    font-size: 16px;
    padding: 40 0px;
    
}
.contact-section{
    display: flex;
    column-gap: 0.8rem;
}
.contact{
    display: flex;
    flex-direction: column;
    color: #1e1b1b;
}
.tel{
    font-size: 18px;
    font-weight: 600;
}
.tit{
    font-size: 16px;
    font-weight:100;
}

/* Hero Sectip */

.Hero-section{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}
.left-hero{
    /* width: 680px; */
    width: fit-content;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    justify-content: center;
}
.hero-text h1{
    width: fit-content;
    font-size: 64px;
}

.butt{
    width: fit-content;
    background-color: #FF6433;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border-style: none;
    /* width: 204px; */
    padding: 2rem 3rem;
    border-radius: 1rem;
}

.bott{
    display: flex;
    column-gap: 1rem;
}
.right-hero{
    width: 600px;
    position: relative;
}

.open{
    font-weight: 100;
    color: #939191;
}
.close{
    font-weight: 800;
}

.transpa-rent{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 24px;
    background-color: white;
    opacity: 0.5;
    padding: 4rem 10rem;
    border-radius: 70px;
    /* border: 20px solid #e0fff45e; */
    position: absolute;
    top: 3rem;
    left: -3rem;
}

.transpa-ren{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 24px;
    background-color: white;
    opacity: 0.5;
    padding: 4.5rem 12rem;
    border-radius: 70px;
    /* border: 20px solid #e0fff45e; */
    position: absolute;
    bottom: 3.2rem;
    right: -3.5rem; 
}

.top-guy{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 24px;
    background-color: white;
    padding: .5rem 1.1rem;
    border-radius: 70px;
    /* border: 20px solid #e0fff45e; */
    position: absolute;
    top: 4.5rem;
    left: -3rem;
}
.bottom-guy{
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 24px;
    background-color: white;
    padding: .8rem 2.5rem;
    border-radius: 70px;
    /* border: 20px solid #e0fff45e; */
    position: absolute;
    bottom: 4.5rem;
    right: -3rem;
}

.time{
    width: 70px;
    height: 70px;
    /* padding: 1rem; */
    background-color: #5CBA99;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
span{
    font-size: 16px;
}
.rate{
    font-size: 24px;
    font-weight: 700;
}
.rating{
    font-size: 16px;
}
.rates{
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 70px;
    /* padding: 1rem;
    background-color: #5CBA99;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; */
}

